.body{

    background-color: aqua;
}
.container{
    width:2500px;
    height: 1100px;
   background-color: aliceblue ;
   text-align: center;
   margin-right: 50px;
   margin-top: 150px;
   margin-left:100px;
   overflow: unset;

}

.th{
    border-color: blanchedalmond;
}
.image2{
    background-image: url(../assets/11.PNG);
}
.image1{
    background-image: url(../assets/11.PNG);
}
.image3{
    background-image: url(../assets/22.PNG); 

}
.fb{
    background-image: url(../assets/fb.PNG);  
}


